[Unit]
Description=WiFi Checker agent
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/python3 /etc/Wi-Fi_Checker/main.py

[Install]
WantedBy=multi-user.target
